*{
    margin:0;
    padding:0;
}
html,body{
    height:70%;
    width:100%;
    background: url("https://studio87blog.files.wordpress.com/2016/01/white-marble-2048.jpg")no-repeat center fixed;
    background-size:cover;
    font-family:'Open Sans', sans-serif;
}
ul li a{
    text-decoration:none;
    color:#e0e2e1;
    font-family: times;
}

ul{
    height:40%;
    width:100%;
    background:#2a4532;
    line-height:3.5;
    text-decoration:none;
    font-family:times;
}

ul li{
    list-style:none;
    display:inline;
    position:relative;
    margin-left:220px;
    margin-right:120px;
    transform:translate(40%,30%);
    font-size:22px;
    text-decoration:none;
    font-family: times;
}

ul li a:hover{
    color:white;
    background:#612424;
    padding:1.8%;
    cursor:pointer;
    text-decoration:none;
    font-family:times;
}

footer{
    position:absolute;
    top:90%;
    width:100%;
    height:10%;
    background:#2a4532;
    color:white;
    line-height:2px;
    opacity:.999;
    font-size:30px;
}

img{
    border-radius:700px;
    position: absolute;
    top: 35%;
    right: 40%;
            
}

.copyright{
    position: absolute;
    top: 50%;
    left: 50%;
}
.img2{
    top:.75%;
    left:.5%;
    height:8.5%;
    width:4.5%;
}
hr{
    width:30%;
    border:.8px solid;
    top:50%;
    position: absolute;
    left:36%;
}
h2{
    font-family: helvetica;
    position:absolute;
    top:45%;
    left:40.3%;
    font-size:40px;
    white-space: nowrap;
    overflow:hidden;
    animation: shorten 9s ease;
    border-right: 3px inset black;
    
}


.img7{
    position:absolute;
    top:20%;
    left:10%;
    height:45%;
    border-radius:120px;
}

@keyframes shorten{
    0%{width:0ch}
    100%{width:16ch}
}
.img3{
    position:absolute;
    width:10%;
    height:12%;
    top:45%;
    left:41%;
    
    
}
.div2 img{
    animation: move 12s ease forwards;
    position:relative;
    width:150px;
    top:250px;
}


@keyframes move{
    to{transform:translate(230%)}
    from{transform:translate(6%)}
    
}
.container1{
    position:absolute;
    left:40%;
    top:20%;
    font-size:30px;
    color:#612424;
    font-family:times;
    text-decoration:none;
}
.container2{
    position:absolute;
    left:40%;
    top:18%;
    font-size:18px;
    color:#612424;
    text-decoration:none;
    font-family: times
}
.container3{
    position:absolute;
    left:35%;
    top:20%;
    font-size:23px;
    color:#612424;
    font-family:times;
    text-decoration:none;
}
.btn{
    position:absolute;
    left:86%;
    top:69%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
    height:75px;
    width:120px;

}
.btn:hover{
    cursor:pointer
}

.btn2{
    position:absolute;
    left:6%;
    top:68%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
   
    text-align: center;
 
}
.btn2:hover{
    cursor:pointer;
}
.btn3{
    position:absolute;
    left:11%;
    top:70%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
}
.btn3:hover{
    cursor:pointer
}
.btn4{
    position:absolute;
    left:89%;
    top:70%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
}
.btn4:hover{
    cursor:pointer
}
.btn5{
    position:absolute;
    left:89%;
    top:70%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
}
.btn5:hover{
    cursor:pointer;
}
.copyright {
    position: absolute;
    top: 50%;
    left: 50%;
}
.img2{
    top:.75%;
    left:.5%;
    height:8.5%;
    width:4.5%;
}
.img4{
    position: absolute;
    top:60%;
    left:45%;
    height:100px;
}
.img5{
    position:absolute;
    top:60%;
    left:52%;
    height:80px;
}

.img6{
    position:absolute;
    top:68%;
    left:53%;
    height:20px;
}




div.pic1 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: left;
}
div.pic1 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.pic1 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
div.pic1 piccaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
div.pic1 piccaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
div.pic1 h2,
div.pic1 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
div.pic1 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
div.pic1 h2 span {
  font-weight: 800;
}
div.pic1 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
div.pic1 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
div.pic1:hover img {
  opacity: 0.3;
}
div.pic1:hover piccaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
div.pic1:hover piccaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
div.pic1:hover piccaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}











