body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
h1,
h1+p {
	margin: 30px 15px 0;
	font-weight: 300;
}
h1+p a {
	color: #333;
}
h1+p a:hover {
	text-decoration: none;
}
h2 {
	margin: 60px 15px 0;
	padding: 0;
	font-weight: 300;
}
h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover07 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	position: fixed;
	height:300px
}
.hover07 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

*{
    margin:0;
    padding:0;
}
html,body{
    height:70%;
    width:100%;
    background: url("https://studio87blog.files.wordpress.com/2016/01/white-marble-2048.jpg")no-repeat center fixed;
    background-size:cover;
}
ul li a{
    text-decoration:none;
    color:#e0e2e1;
    font-family: times;
}

ul{
    height:40%;
    width:100%;
    background:#2a4532;
    line-height:3.5;
    text-decoration:none;
    font-family:times;
}

ul li{
    list-style:none;
    display:inline;
    position:relative;
    margin-left:100px;
    margin-right:150px;
    transform:translate(40%,30%);
    font-size:22px;
    text-decoration:none;
    font-family: times;
}

ul li a:hover{
    color:white;
    background:#612424;
    padding:1.75%;

    cursor:pointer;
    text-decoration:none;
    font-family:times;
}

footer{
    position:absolute;
    top:90%;
    width:100%;
    height:10%;
    background:#2a4532;
    color:white;
    line-height:2px;
    opacity:.9;
    font-size:30px;
}
.copyright{
    position: absolute;
    top: 50%;
    left: 50%;
}
.img2{
    top:.75%;
    left:.5%;
    height:8.5%;
    width:4.5%;
}
.imghover{
    position:absolute;
    top:30%;
    left:25%;
   
}