*{
    margin:0;
    padding:0;
}
html,body{
    height:70%;
    width:100%;
    background: url("https://studio87blog.files.wordpress.com/2016/01/white-marble-2048.jpg")no-repeat center fixed;
    background-size:cover;
    font-family:'Open Sans', sans-serif;
}
ul li a{
    text-decoration:none;
    color:#e0e2e1;
    font-family: times;
}

ul{
    height:40%;
    width:100%;
    background:#2a4532;
    line-height:3.5;
    text-decoration:none;
    font-family:times;
}

ul li{
    list-style:none;
    display:inline;
    position:relative;
    margin-left:230px;
    margin-right:120px;
    transform:translate(40%,30%);
    font-size:22px;
    text-decoration:none;
    font-family: times;
}

ul li a:hover{
    color:white;
    background:#612424;
    padding:1.8%;
    cursor:pointer;
    text-decoration:none;
    font-family:times;
}

footer{
    position:absolute;
    top:90%;
    width:100%;
    height:10%;
    background:#2a4532;
    color:white;
    line-height:2px;
    opacity:.999;
    font-size:30px;
}

img{
    border-radius:700px;
    position: absolute;
    top: 35%;
    right: 40%;
            
}

.copyright{
    position: absolute;
    top: 50%;
    left: 50%;
}
.img2{
    top:.75%;
    left:.5%;
    height:8.5%;
    width:4.5%;
}
hr{
    width:30%;
    border:.8px solid;
    top:50%;
    position: absolute;
    left:36%;
}
h2{
    font-family: helvetica;
    position:absolute;
    top:45.5%;
    left:40.3%;
    font-size:40px;
    white-space: nowrap;
    overflow:hidden;
    animation: shorten 9s ease;
    border-right: 3px inset black;
    
    
}
@keyframes shorten{
    0%{width:0ch}
    100%{width:16ch}
}
.img3{
    position:absolute;
    width:10%;
    height:12%;
    top:45%;
    left:41%;
    
    
}
.div2 img{
    animation: move 12s ease;
    position:relative;
    width:150px;
    top:250px;
}


@keyframes move{
    to{transform:translate(230%)}
    from{transform:translate(6%)}
    
}
.container1{
    position:absolute;
    left:35%;
    top:20%;
    font-size:30px;
    color:#612424;
    font-family:times;
    text-decoration:none;
}
.container2{
    position:absolute;
    left:35%;
    top:20%;
    font-size:18px;
    color:#612424;
    text-decoration:none;
    font-family: times
}
.container3{
    position:absolute;
    left:35%;
    top:20%;
    font-size:23px;
    color:#612424;
    font-family:times;
    text-decoration:none;
}
.btn{
    position:absolute;
    left:89%;
    top:70%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;

}
.btn:hover{
    cursor:pointer
}

.btn2{
    position:absolute;
    left:6%;
    top:68%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
 
}
.btn2:hover{
    cursor:pointer;
}
.btn3{
    position:absolute;
    left:11%;
    top:70%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
}
.btn3:hover{
    cursor:pointer
}
.btn4{
    position:absolute;
    left:89%;
    top:70%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
}
.btn4:hover{
    cursor:pointer
}
.btn5{
    position:absolute;
    left:89%;
    top:70%;
    text-decoration:none;
    color:white;
    background:#612424;
    padding:2%;
    border-radius:15px;
}
.btn5:hover{
    cursor:pointer;
}
.copyright {
    position: absolute;
    top: 50%;
    left: 50%;
}
.img2{
    top:.75%;
    left:.5%;
    height:8.5%;
    width:4.5%;
}
.img4{
    position: absolute;
    top:50%;
}