*{
    margin:0;
    padding:0;
}
html,body{
    height:70%;
    width:100%;
    background: url("https://studio87blog.files.wordpress.com/2016/01/white-marble-2048.jpg")no-repeat center fixed;
    background-size:cover;
    font-family:'Open Sans', sans-serif;
}
ul li a{
    text-decoration:none;
    color:#e0e2e1;
    font-family: times;
}

ul{
    height:40%;
    width:100%;
    background:#612424;
    line-height:3.5;
    text-decoration:none;
    font-family:times;
}

ul li{
    list-style:none;
    display:inline;
    position:relative;
    margin-left:210px;
    margin-right:120px;
    transform:translate(40%,30%);
    font-size:22px;
    text-decoration:none;
    font-family: times;
}

ul li a:hover{
    color:white;
    background:#2a4532;
    padding:1.8%;
    cursor:pointer;
    text-decoration:none;
    font-family:times;
}

footer{
    position:absolute;
    top:90%;
    width:100%;
    height:10%;
    background: #612424; 
    color:white;
    line-height:2px;
    opacity:.999;
    font-size:30px;
}

img{
    border-radius:700px;
    position: absolute;
    top: 35%;
    right: 40%;
            
}

.copyright{
    position: absolute;
    top: 50%;
    left: 50%;
}

.img2{
    top:.75%;
    left:.5%;
    height:8.5%;
    width:4.5%;
}

.imglogo{
  position:absolute;
  top:15%;
  left:57%;
}

.imglogo img{
  border-radius: 0;
}

.infohomepage{
  position:absolute;
  top:40%;
  left:38%;
}

.infoabout{
    position:absolute;
    top:50%;
    left:50%;
}


.salesforce{
    position: absolute;
    top:19%;
    left:2%;
    height:25%;
    width:21%;
    
}

.cloud9{
    position:absolute;
    top:50%;
    left:2%;
    
}

.aws{
    top:60%;
    left:43%;
    height:18%;
    width:26%;
    border-radius:0;
}

.gmail{
    top:18%;
    left:48%;
    height:29%;
    width:20%;
}

.salesforcep{
    position:absolute;
    top:16%;
    left:25%;
}

.cloud9p{
    position:absolute;
    top:55%;
    left:25%;
}

.googlep{
    position:absolute;
    top:16%;
    left:70%;
    
}

.awsp{
    position:absolute;
    top:55%;
    left:70%;
}



/* Ebusiness code page 1 */
.ebuscontainer{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.ebuscontainer h1{
    position: absolute;
    top: 13%;
    left: 42%;
}

.ebuscontainer .labelsalesforce{
    position: absolute;
    top: 20%;
    left: 45%;
}

.ebuscontainer .labelcloud{
    position: absolute;
    top: 25%;
    left: 45%;
}

.ebuscontainer .labelaws{
    position: absolute;
    top: 30%;
    left: 45%;
}

.ebuscontainer .labelgmail{
    position: absolute;
    top: 35%;
    left: 45%;
}

.ebuscontainer .labelsubtotal{
    position: absolute;
    top: 50%;
    left: 39%;
}
.ebuscontainer .labeldiscount{
    position: absolute;
    top: 55%;
    left: 39%;
}
.ebuscontainer .labelvat{
    position: absolute;
    top: 60%;
    left: 39%;
}

.ebuscontainer .labeltotal{
    position: absolute;
    top: 65%;
    left: 39%;
}

.addbtn{
    position: absolute;
    top: 71%;
    left: 45%;
}

.addbtnstyle{
    background-color: #2a4532;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.addbtnstyle:hover{
    cursor: pointer;
}

.calbtn{
    position: absolute;
    top: 75%;
    left: 40%;
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 3px;
    font-size: 95%;
}

.calbtn:hover{
    cursor: pointer;
}

.clearbtn{
    position: absolute;
    top: 75%;
    left: 52%;
    text-decoration: none;
    color: white;
    padding: 4px 4px;
    border: solid 1px red;
    border-radius: 3px;
    background-color: red;
}






/* Ebusiness code page 2 */
.ebus2heading{
    position: absolute;
    top: 10%;
    left: 42%;
}

.lblname{
    position: absolute;
    top: 20%;
    left: 43%;
}

.lblemail{
    position: absolute;
    top: 25%;
    left: 43%;
}

.lblpin{
    position: absolute;
    top: 30%;
    left: 43%;
}

.btnproceed{
    position: absolute;
    top: 35%;
    left: 43%;
    
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnproceed:hover{
    cursor: pointer;
}

.btnvalidate{
    position: absolute;
    top: 40%;
    left: 43%;
    
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnvalidate{
    cursor: pointer;
}


.ebus3_heading{
    position: absolute;
    top: 20%;
    left: 40%;
}
.ebus3_name{
    position: absolute;
    top: 30%;
    left: 40%;
}

.ebus3_email{
    position: absolute;
    top: 35%;
    left: 40%;
}

.ebus3_total{
    position: absolute;
    top: 40%;
    left: 40%;
}




