*{
    margin:0;
}


html,body{
    height:100%;
    width:100%;
}


.mainheading {
    text-align: center;
}

body {
background-image: url("")
}

ul li a{
    text-decoration:none;
    color:#e0e2e1;
    
}

ul{
    height:20%;
    width:100%;
    background:#2a4532;
    
}

ul li{
    list-style:none;
    display:inline;
    margin:10px;
    position:relative;
    margin-left:120px;
    transform:translate(20%,30%);
    font-size:22px
    
}

ul li a:hover{
    color:white;
    background:#612424;
    padding:2%;
    border-radius:10px
}