*{
    margin:0;
    padding:0;
}

#section1{
    
    background: url("../images/ski.jpg") no-repeat center fixed;
    color:white;
    font-size:30px;
}

#section2{
    background: url("../images/cozumel.jpg") no-repeat center fixed;
    color:white;
    font-size: 30px;
}

#section3{
    background: url("../images/garda.jpg") no-repeat center fixed;
    color:white;
    font-size: 30px;
    
}
#section4{
    
    background: url("http://www.osahub.com/img/course/pages/clouds.png") no-repeat center fixed;
    color:white;
    position:absolute;
    left:10%;
    
}

#section5{
    background: url("http://www.osahub.com/img/course/pages/clouds.png") no-repeat center fixed;
    color:white;
    position:absolute;
    left:10%;
}

#section6{
    background: url("http://www.osahub.com/img/course/pages/clouds.png") no-repeat center fixed;
    color:white;
    position:absolute;
    left:10%;
}


.section{
    text-align: center;
    color: white;
}

html,body{
    height:70%;
    width:100%;
    background: url("https://studio87blog.files.wordpress.com/2016/01/white-marble-2048.jpg")no-repeat center fixed;
    background-size:cover;
    font-family: helvetica;
}
.video{
     width:340px;
     height:200px; 
}

.btn{
    position:absolute;
    color:black;
    background:blue;
    Top:65%;
    left:47%;
}

.btn:hover{
    cursor:pointer;
    border: solid 2px blue;
    background-color: white;
    
}

.btn2{
    position:absolute;
    color:black;
    background:blue;
    Top:65%;
    left:50%;
    border-radius: 2px;
    text-decoration: none;
    height:35px;
    width:170px;
}

.btn2:hover{
    cursor:pointer;
    border: solid 2px blue;
    background-color: white;
    text-decoration: none;
    
}

.movebtn2{
    position: absolute;
    top:16%;
    left:20%;
}


.btn3{
    position:absolute;
    color:black;
    background:blue;
    Top:65%;
    left:32%;
    border-radius: 2px;
    text-decoration: none;
    height:35px;
    width:170px;
}

.btn3:hover{
    cursor:pointer;
    border: solid 2px blue;
    background-color: white;
    text-decoration: none;
    
}

.movebtn3{
    position: absolute;
    top:16%;
    left:29%;
}
