*{
    margin:0;
    padding:0;
}

html,body{
    height:70%;
    width:100%;
    background: url("https://studio87blog.files.wordpress.com/2016/01/white-marble-2048.jpg")no-repeat center fixed;
    background-size:cover;
    font-family:'Open Sans', sans-serif;
}
ul li a{
    text-decoration:none;
    color:#e0e2e1;
    font-family: times;
}

ul{
    height:40%;
    width:100%;
    background:#612424;
    line-height:3.5;
    text-decoration:none;
    font-family:times;
}

ul li{
    list-style:none;
    display:inline;
    position:relative;
    margin-left:220px;
    transform:translate(40%,30%);
    font-size:22px;
    text-decoration:none;
    font-family: times;
}

ul li a:hover{
    color:white;
    background:#2a4532;
    padding:1.8%;
    cursor:pointer;
    text-decoration:none;
    font-family:times;
}

footer{
    position:absolute;
    top:90%;
    width:100%;
    height:10%;
    background: #612424; 
    color:white;
    line-height:2px;
    opacity:.999;
    font-size:30px;
}

img{
    border-radius:700px;
    position: absolute;
    top: 35%;
    right: 40%;
            
}

.copyright{
    position: absolute;
    top: 50%;
    left: 50%;
}

.img2{
    top:.75%;
    left:.5%;
    height:8.5%;
    width:4.5%;
}



/* E-business page 1 styling */
.container3{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    
}

.container2 h1{
    position: absolute;
    top: 10%;
    left: 42%;
}

.container2 .lblsalesforce{
    position: absolute;
    top: 20%;
    left: 43%;
}

.container2 .lblcloud9{
    position: absolute;
    top: 25%;
    left: 43%;
}

.container2 .lblaws{
    position: absolute;
    top: 30%;
    left: 43%;
}

.container2 .lblgmail{
    position: absolute;
    top: 35%;
    left: 43%;
}

.container2 .lblsubtotal{
    position: absolute;
    top: 50%;
    left: 43%;
}
.container2 .lbldiscount{
    position: absolute;
    top: 55%;
    left: 43%;
}
.container2 .lblvat{
    position: absolute;
    top: 60%;
    left: 43%;
}

.container2 .lbltotal{
    position: absolute;
    top: 65%;
    left: 43%;
}

.btnadd{
    position: absolute;
    top: 81%;
    left: 45%;
}

.btnadd:hover{
    cursor:pointer;
    background-color: white;
}

.addbtnstyle{
    background-color: green;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
    border: solid 2px green;
}

.addbtnstyle:hover{
    cursor: pointer;
    background-color: white;
}

.btncal{
    position: absolute;
    top: 75%;
    left: 43%;
    background-color: blue;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 3px;
    font-size: 95%;
    border: solid 2px blue;
}
.btncal:hover{
    cursor:pointer;
    background-color: white;
}

.btnclear:hover{
    cursor: pointer;
    background-color: white;
}

.btnclear{
    position: absolute;
    top: 75%;
    left: 52%;
    background-color: red;
    text-decoration: none;
    color: black;
    padding: 4px 4px;
    border: solid 2px red;
    border-radius: 3px;
}



/* E-business page 2 styling */
.heading2{
    position: absolute;
    top: 10%;
    left: 42%;
}

.lblname{
    position: absolute;
    top: 20%;
    left: 43%;
}

.lblemail{
    position: absolute;
    top: 25%;
    left: 43%;
}

.lblpin{
    position: absolute;
    top: 30%;
    left: 43%;
}

.btnproceed{
    position: absolute;
    top: 35%;
    left: 43%;
    
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnproceed:hover{
    cursor: pointer;
    background-color: white;
}

.btnvalidate{
    position: absolute;
    top: 40%;
    left: 43%;
    
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnvalidate{
    cursor: pointer;
    background-color: white;
}

/* E-business page 3 styling */
        
.ebus3heading{
    position: absolute;
    top: 20%;
    left: 40%;
}
.ebus3name{
    position: absolute;
    top: 30%;
    left: 40%;
}

.ebus3email{
    position: absolute;
    top: 35%;
    left: 40%;
}

.ebus3total{
    position: absolute;
    top: 40%;
    left: 40%;
}
